.ingredientsListTitle {
    color: #4e018d;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}

.ingredientsInfo {
    color: #4e018d;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

.ingredientsListTitle2 {
    color: #4e018d;
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}

@media (max-width: 769px) {
    .ingredientsListTitle {
        font-size: 30px;    
    }

    .ingredientsInfo {
        font-size: 20px;
        padding: 15px;
    }
    
    .ingredientsListTitle2 {
        font-size: 28px;
    }
}

@media (max-width: 415px) {
    .ingredientsListTitle {
        font-size: 30px;    
    }
    
    .ingredientsInfo {
        font-size: 16px;
        padding: 15px;
    }
    
    .ingredientsListTitle2 {
        font-size: 25px;
    }
}