.mainBurger {
    width: 80%;
    border: solid 10px black;
    border-radius: 10px;
    margin: 1%;
}

.window {
    background-color: #e5e3db;
    border: solid 8px #006438;
    border-radius: 20px;
    
}

.mainTitle {
    color: #4e018d;
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    margin-left: -7%;
}

.mainInfo {
    color: #4e018d;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: -80px;
}


@media (max-width: 412px) {
    .window {
        border: solid 4px #006438;
        width: 390px;
        margin-left: -7%;   
    }

    .mainBurger {
        border: solid 5px black;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 18px;
        
        margin: 15px;
    }


}

@media (max-width: 376px) {
    .window {
        border: solid 4px #006438;
        width: 353px;
        margin-left: -8%;   
    }

    .mainBurger {
        border: solid 5px black;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 16px;
        
        margin: 15px;
    }


}

@media (max-width: 361px) {
    .window {
        border: solid 4px #006438;
        width: 336px;
        margin-left: -8%;   
    }

    .mainBurger {
        border: solid 5px black;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 16px;
        
        margin: 15px;
    }


}

@media (max-width: 321px) {
    .window {
        border: solid 4px #006438;
        width: 295px;
        margin-left: -9%;   
    }

    .mainBurger {
        border: solid 5px black;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 16px;
        
        margin: 15px;
    }


}