.mainBurger {
    width: 80%;
    border: solid 5px #006438;
    border-radius: 10px;
    margin: 1%;
}

.window {
    background-color: #e5e3db;
    border: solid 8px #006438;
    border-radius: 20px;
    
}

.mainTitle {
    color: #4e018d;
    font-size: 35px;
    font-style: italic;
    font-weight: bolder;
    margin-left: -7%;
}

.mainInfo {
    color: #4e018d;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: -80px;
}

@media (max-width: 1367px) {
    .window {
        border: solid 6px #006438;
        width: 100%;
        margin-left: 0%;   
    }

    .mainBurger {
        width: 90%;
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 30px;
        margin-left: -15%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 22px;
        padding: 20px;
        
        margin-left: -5%;
    }


}

@media (max-width: 1025px) {
    .window {
        border: solid 5px #006438;
        width: 100%;
        margin-left: 0%;   
    }

    .mainBurger {
        width: 90%;
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 30px;
        margin-left: -15%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 20px;
        padding: 20px;
        
        margin-left: -5%;
    }


}

@media (max-width: 769px) {
    .window {
        border: solid 4px #006438;
        width: 720px;
        margin-left: -4%;   
    }

    .mainBurger {
        width: 90%;
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 30px;
        margin-left: -15%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 20px;
        
        
        margin-left: -5%;
    }


}

@media (max-width: 737px) {
    .window {
        border: solid 4px #006438;
        width: 685px;
        margin-left: -4%;   
    }

    .mainBurger {
        width: 90%;
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 30px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 20px;
        
        
        margin-left: 0%;
    }


}

@media (max-width: 668px) {
    .window {
        border: solid 4px #006438;
        width: 580px;
        margin-left: -1%;   
    }

    .mainBurger {
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 18px;
        
        margin: 15px;
    }


}

@media (max-width: 641px) {
    .window {
        border: solid 4px #006438;
        width: 550px;
        margin-left: -1%;   
    }

    .mainBurger {
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 18px;
        
        margin: 15px;
    }


}

@media (max-width: 569px) {
    .window {
        border: solid 4px #006438;
        width: 500px;
        margin-left: 0%;   
    }

    .mainBurger {
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 18px;
        
        margin: 15px;
    }


}

@media (max-width: 415px) {
    .window {
        border: solid 4px #006438;
        width: 390px;
        margin-left: -7%;   
    }

    .mainBurger {
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 18px;
        
        margin: 15px;
    }


}


@media (max-width: 412px) {
    .window {
        border: solid 4px #006438;
        width: 390px;
        margin-left: -7%;   
    }

    .mainBurger {
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 18px;
        
        margin: 15px;
    }


}

@media (max-width: 376px) {
    .window {
        border: solid 4px #006438;
        width: 353px;
        margin-left: -8%;   
    }

    .mainBurger {
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 16px;
        
        margin: 15px;
    }


}

@media (max-width: 361px) {
    .window {
        border: solid 4px #006438;
        width: 336px;
        margin-left: -8%;   
    }

    .mainBurger {
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 16px;
        
        margin: 15px;
    }


}

@media (max-width: 321px) {
    .window {
        border: solid 4px #006438;
        width: 295px;
        margin-left: -9%;   
    }

    .mainBurger {
        border: solid 5px #006438;
        margin: 2%;
    }

    .mainTitle {
        font-size: 25px;
        margin-left: 0%;
    }

    .mainInfo {
        
        text-align: left;
        font-size: 16px;
        
        margin: 15px;
    }


}