.footerColor {
    background-color: #e5e3db;
    border-top: solid 10px #c1d6ad;
}

.logoFooter {
    width: 300px;
    height: 180px;
    padding: 1.5%;
    border-radius: 35%;
    border: solid 2px #fff; 
    background-color: #fff;
    margin-left: 25%;
   
}

.textFooter {
    font-size: 24px;
    color: #4e018d;
    font-weight: bold;
    padding-top: 10%;
    padding-right: 14%;
}

.footerBorder0 {
    border-top: solid 10px #fdb400;
}

.footerBorder1 {
    border-top: solid 10px #4e018d;
}

.footerLinks {
    color: #4e018d;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 2%;
    margin-top: .5%;
    max-height: 100px;
    font-weight: bold;
}

.footerLinks:hover {
    color: #f58a00;
}

.linkTitle0 {
    font-weight: bolder;
    color: black;
    font-size: 25px;
}

@media (max-width: 1367px) {
    .logoFooter {
        width: 300px;
        height: 200px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;  */
        background-color: #fff;
        margin-left: 10px;
       
    }

    .textFooter {
        font-size: 20px;
        padding-top: 10%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
    }

    .footerLinks {
        font-size: 18px;  
    }
}

@media (max-width: 1025px) {
    .logoFooter {
        width: 230px;
        height: 160px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;  */
        background-color: #fff;
        margin-left: 10px;
       
    }

    .textFooter {
        font-size: 18px;
        padding-top: 10%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
    }

    .footerLinks {
        font-size: 18px;  
    }
}

@media (max-width: 824px) {
    .logoFooter {
        width: 200px;
        height: 140px;
        margin-left: 1px;
       
    }
}

@media (max-width: 769px) {
    .logoFooter {
        width: 190px;
        height: 140px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;  */
        background-color: #fff;
        margin-left: -5px;
       
    }

    .textFooter {
        font-size: 18px;
        padding-top: 10%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
    }

    .footerLinks {
        font-size: 18px;  
    }
}

@media (max-width: 737px) {
    .logoFooter {
        width: 350px;
        height: 200px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;   */
        background-color: #fff;
        margin-left: -5px;
       
    }

    .textFooter {
        font-size: 20px;
        padding-top: 10%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
    }

    .footerLinks {
        font-size: 20px;  
    }
}

@media (max-width: 668px) {
    .logoFooter {
        width: 350px;
        height: 200px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;  */
        background-color: #fff;
        margin-left: -20px;
       
    }

    .textFooter {
        font-size: 20px;
        padding-top: 10%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
        margin-left: -10%;
    }

    .footerLinks {
        font-size: 20px;  
    }
}

@media (max-width: 641px) {
    .logoFooter {
        width: 350px;
        height: 200px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;   */
        background-color: #fff;
        margin-left: -20px;
       
    }

    .textFooter {
        font-size: 20px;
        padding-top: 10%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
    }

    .footerLinks {
        font-size: 20px;  
    }
}

@media (max-width: 569px) {
    .logoFooter {
        width: 350px;
        height: 200px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;  */
        background-color: #fff;
        margin-left: -20px;
       
    }

    .textFooter {
        font-size: 20px;
        padding-top: 10%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
    }

    .footerLinks {
        font-size: 20px;  
    }
}

@media (max-width: 415px) {
    .logoFooter {
        width: 300px;
        height: 180px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;  */
        background-color: #fff;
        margin-left: 4px;
       
    }

    .textFooter {
        font-size: 18px;
        padding-top: 0%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
    }

    .footerLinks {
        font-size: 18px;  
    }
}

@media (max-width: 412px) {
    .logoFooter {
        width: 300px;
        height: 180px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;   */
        background-color: #fff;
        margin-left: 4px;
       
    }

    .textFooter {
        font-size: 18px;
        padding-top: 0%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 22px;
    }

    .footerLinks {
        font-size: 18px;  
    }
}

@media (max-width: 376px) {
    .logoFooter {
        width: 300px;
        height: 180px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;   */
        background-color: #fff;
        margin-left: 4px;
       
    }

    .textFooter {
        font-size: 16px;
        padding-top: 0%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 20px;
    }

    .footerLinks {
        font-size: 16px;  
    }
}

@media (max-width: 361px) {
    .logoFooter {
        width: 300px;
        height: 180px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;   */
        background-color: #fff;
        margin-left: 4px;
       
    }

    .textFooter {
        font-size: 16px;
        padding-top: 0%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 20px;
    }

    .footerLinks {
        font-size: 16px;  
    }
}

@media (max-width: 321px) {
    .logoFooter {
        width: 300px;
        height: 180px;
        padding: 1.5%;
        border-radius: 35%;
        /* border: solid 5px #c1d6ad;   */
        background-color: #fff;
        margin-left: 4px;
       
    }

    .textFooter {
        font-size: 16px;
        padding-top: 0%;
        padding-right: 0%;
    }

    .linkTitle0 {
        font-size: 20px;
    }

    .footerLinks {
        font-size: 16px;  
    }
}