.quadrantBurgers {
    width: 600px;
    height: 400px;
    background-color: black;
    border: solid 4px black;
    border-radius: 10px;
}

.quadrantBurgers:hover {
    border-top: solid 4px black;
    border-left: solid 4px black;
    border-bottom: solid 14px black;
    border-right: solid 12px black;
    
}

.poached {
    margin-left: 20%;
    margin-top: 3%;
}

.slider {
    margin-left: 20%; 
    margin-top: 3%;
    margin-bottom: 2%;
}

.poppers {
    margin-left: 5%;
    margin-top: 3%;
}


.thai {
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.window2 {
    border-top: solid 10px #fdb400;
    background-color: #fff;
    margin-top: 0px;
    
}

.window3 {
    border-top: solid 10px #4e018d;
}

.window4 {
    /* border-top: solid 10px black; */
    background-color: #006438;
}

.window5 {
    border-top: solid 8px #006438;
    border-right: solid 4px #006438;
    border-bottom: solid 8px #006438;
    border-left: solid 4px #006438;
    border-radius: 20px;
    background-color: #fff;
}

.window6 {
    border: solid 10px #006438;
    background-color: #e5e3db;
    border-radius: 20px;
    margin: 1.5%;
}

.clickImagesBelow {
    color: #4e018d;
    font-size: 40px;
    /* font-style: italic; */
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    margin-left: 4%;
    margin-top: 1.5%;
}

.clickImagesBelowSection {
    margin-bottom: 2%;
}

.windowClickBelow {
    background-color: #e5e3db;
    border: solid 8px #006438;
    border-radius: 20px;
    width: 97%;
    margin: 2% auto 0 auto;

}

@media (max-width: 1367px) {
    
    .windowClickBelow {
        border: solid 6px #006438;
        width: 94%;
        margin: 2% auto 0 3%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 30px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 6px #006438;
        width: 94%;
        margin: 2% auto 4% 3%;
    }
    
    .quadrantBurgers {
        width: 580px;
        height: 350px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 4%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 4%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: -1%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: -1%;
        margin-top: 3%;
        margin-bottom: 2%;
    }
}

@media (max-width: 1025px) {
    
    .windowClickBelow {
        border: solid 5px #006438;
        width: 94%;
        margin: 2% auto 0 3%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 30px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 5px #006438;
        width: 94%;
        margin: 2% auto 4% 3%;
    }
    
    .quadrantBurgers {
        width: 430px;
        height: 300px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 4%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 4%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: -1%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: -1%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 769px) {
    
    .windowClickBelow {
        border: solid 3px #006438;
        width: 99%;
        margin: 2% auto 0 .5%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 25px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 3px #006438;
        width: 99%;
        margin: 2% auto 4% 0.5%;
    }
    
    .quadrantBurgers {
        width: 340px;
        height: 250px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 2%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 2%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: -2%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: -2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 737px) {
    
    .windowClickBelow {
        border: solid 4px #006438;
        width: 99%;
        margin: 2% auto 0 .5%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 25px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 4px #006438;
        width: 99%;
        margin: 2% auto 4% 0.5%;
    }
    
    .quadrantBurgers {
        width: 655px;
        height: 350px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 2%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 2%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 2%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 668px) {
    
    .windowClickBelow {
        border: solid 4px #006438;
        width: 92%;
        margin: 2% auto 0 4%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 25px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 4px #006438;
        width: 92%;
        margin: 2% auto 4% 4%;
    }
    
    .quadrantBurgers {
        width: 524px;
        height: 300px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 2%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 2%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 2%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 641px) {
    
    .windowClickBelow {
        border: solid 4px #006438;
        width: 92%;
        margin: 2% auto 0 4%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 25px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 4px #006438;
        width: 92%;
        margin: 2% auto 4% 4%;
    }
    
    .quadrantBurgers {
        width: 524px;
        height: 300px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 2%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 2%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 2%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 569px) {
    
    .windowClickBelow {
        border: solid 4px #006438;
        width: 94%;
        margin: 2% auto 0 3%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 18px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 4px #006438;
        width: 94%;
        margin: 2% auto 4% 3%;
    }
    
    .quadrantBurgers {
        width: 475px;
        height: 300px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 1.5%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 1.5%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 415px) {
    
    .windowClickBelow {
        border: solid 3px #006438;
        width: 104%;
        margin: 2% auto 0 -2%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 18px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 3px #006438;
        width: 104%;
        margin: 2% auto 4% -2%;
    }
    
    .quadrantBurgers {
        width: 370px;
        height: 250px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 1.5%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 1.5%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 412px) {
    
    .windowClickBelow {
        border: solid 3px #006438;
        width: 104%;
        margin: 2% auto 0 -2%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 18px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 3px #006438;
        width: 104%;
        margin: 2% auto 4% -2%;
    }
    
    .quadrantBurgers {
        width: 370px;
        height: 250px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 1.5%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 1.5%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 376px) {
    
    .windowClickBelow {
        border: solid 3px #006438;
        width: 104%;
        margin: 2% auto 0 -2%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 16px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 3px #006438;
        width: 104%;
        margin: 2% auto 4% -2%;
    }
    
    .quadrantBurgers {
        width: 335px;
        height: 200px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 1.5%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 1.5%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 361px) {
    
    .windowClickBelow {
        border: solid 3px #006438;
        width: 104%;
        margin: 2% auto 0 -2%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 16px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 3px #006438;
        width: 104%;
        margin: 2% auto 4% -2%;
    }
    
    .quadrantBurgers {
        width: 320px;
        height: 200px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 1.5%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 1.5%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}

@media (max-width: 321px) {
    
    .windowClickBelow {
        border: solid 3px #006438;
        width: 105%;
        margin: 2% auto 0 -2%;
        padding: 0 2% 0 2%;
    }

    .clickImagesBelow {
        font-size: 16px;
        margin-left: 0%;
    }

    .window6 {
        border: solid 3px #006438;
        width: 105%;
        margin: 2% auto 4% -2%;
    }
    
    .quadrantBurgers {
        width: 280px;
        height: 150px;
        border: solid 2px black;
    }

    .poached {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    .slider {
        margin-left: 1.5%; 
        margin-top: 3%;
        margin-bottom: 2%;
    }
    
    .poppers {
        margin-left: 1.5%;
        margin-top: 3%;
    }
    
    
    .thai {
        margin-left: 1.5%;
        margin-top: 1%;
        margin-bottom: 2%;
    }
}