.logo {
    width: 340px;
    height: 190px;
    padding: 1.5%;
    border-radius: 35%;
    border: solid 10px black; 
    background-color: #fff;
}

.navbar {
    background-color: #e5e3db;
    height: 160px;
    width: 100%;
    border-bottom: solid 10px black;
}
.nav {
    width: 100%;  
}

.border0 {
    border-bottom: solid 10px #4e018d;
}

.border1 {
    border-bottom: solid 10px #fdb400;
}

.link {
    color: #4e018d;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 2%;
    margin-top: 1%;
    max-height: 100px;
}

.link:hover {
    color: #f58a00;
}

.resize {
    width: 200px;
    height: 100px;
    padding: 10%;
    text-align: center;
    border-left: solid 5px #c1d6ad;
    border-right: solid 5px #c1d6ad;
    border-bottom: solid 5px #c1d6ad;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.resize:hover {
    border-left: solid 6px black;
    border-right: solid 7px black;
    border-bottom: solid 8px black;
    padding-left: 5px;
}


.navbar-brand {
    margin-left: 0%; 
}

.right0 {
    margin-left: 0%;
}

.left {
    margin-left: 1%;
}