.AboutUsFoto {
    width: 80%;
    margin: 2%;
    border: solid 10px black;
    border-radius: 20px;
}

.AboutUsFoto2 {
    width: 80%;
    margin: 2%;
    border: solid 10px black;
    border-radius: 20px;
    margin-top: -100%;
}

.AboutUsFoto3 {
    width: 80%;
    margin: 2%;
    border: solid 10px black;
    border-radius: 20px;
    margin-top: -100%;
}

.aboutUsTitle {
    color: #4e018d;
    font-size: 55px;
    font-weight: bolder;
    margin-top: 2%;
}

.aboutUsTitle2 {
    color: #4e018d;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    margin-left: -40%;
    text-decoration: underline;
}

.aboutUsTitle3 {
    color: #4e018d;
    font-size: 40px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
    margin-left: 3%;
    margin-top: 2%;
}

.aboutUsInfo {
    color: #4e018d;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-left: -40px;
}

.aboutUsWindow {
    margin-top: 3%;
    background-color: #e5e3db;
    border: solid 8px #006438;
    border-radius: 20px;
    
}

.specialThanksInfo {
    color: #4e018d;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}